@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  overflow-y: scroll;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.playfair_display{
  font-family: var(--font-playfair_display);
}
.Bebas_Neue{
  font-family: var(--font-Bebas_Neue);
}
.Domine{
  font-family: var(--font-Domine);
}
.Montserrat{
  font-family: var(--font-Montserrat);
}
.playfair_displays{
  font-family: var(--font-playfair_displays);
}
.outfit_dispaly{
  font-family: var(--font-outfit);

}
.outfit_dispalys{
  font-family: var(--font-outfits);

}
.open_sans_display{
  font-family: var(--font-open_sans);

}
.open_sans_displays{
  font-family: var(--font-open_sanss);

}
